<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>TWITCH_ACCESS_TOKEN</key>
	<string></string>
	<key>TWITCH_CHAT_USERNAME</key>
	<string></string>
	<key>TWITCH_CLIENT_ID</key>
	<string>dp49p1zlizsebtisicn9pz8cm17vke</string>
	<key>TWITCH_REFRESH_TOKEN</key>
	<string></string>
	<key>TWITCH_TOKEN_EXPIRATION_EPOCH</key>
	<string></string>
	<key>TWITCH_USER_ID</key>
	<string></string>
</dict>
</plist>
